@import url(https://fonts.googleapis.com/css2?family=Raleway:ital,wght@1,400;1,500&display=swap);

body {
  background-color: #debace !important;
  font-family: "Raleway", sans-serif !important;
}

.bg-nav {
  background: #fbfacd;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.bg-tarea {
  background: #ba94d1;
}

button {
  background-color: #7f669d !important;
  color: aliceblue !important;
}
